* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/content/b11.jpg);
/* background-color: beige; */
}
header {
    padding: 10px 30px;
}

.m {
    font-size: 60px;
    text-align: center;
    padding: 20px;
    background-image: url(/content/title.jpeg);
}

.why h3 {
    font-size: 29px;
}

.why p {
    font-size: 19px;
}

.why {
    padding: 15px;
    /* background-color: rgb(37, 96, 154); */
    /* color: white; */
    border-radius: 20px;
    margin-top: 18px;
    background-image: url(/content/t2.jpeg);
}

.ques {
    font-size: 35px;
}

.t {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 7px solid  white;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.cat img {
    width: 150px;
    height: 150px;
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
}   

.c {
    padding: 25px;
    padding-top: 3px;
    font-size: 19px;
}

.cat i {
    font-size: 23px;
}
.cat{
    padding: 30px;
    border: 10px solid rgb(37, 96, 154);
    border-radius: 25px;
}
